@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --cursor-seleccionables: url('../public/cursor-seleccionables.svg') 10 10, auto;
}

table.table th,
table.table td {
  vertical-align: middle;
  text-align: center;
}

table.table-hover tbody tr:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

/*? INICIO MENU DE NAVEGACION */
.navbar {
  user-select: none;
  height: 70px;
  border-radius: 0 0 15px 15px;
}

.navbar-brand {
  cursor: var(--cursor-seleccionables)
}

.nav-btn-group {
  cursor: var(--cursor-seleccionables) !important;
}

.role-nav-block {
  background-color: white;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 0.2em 0.6em;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/*? FIN MENU DE NAVEGACION */


/*? INICIO DONDE CARGA TODO */
.content-padding-top {
  padding-top: 75px;
}
/*? FIN DONDE CARGA TODO */


/*? BARRA DE SCROLL PERSONALIZADA */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 5px;
  margin: 5px 0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #0D6EFD 0%, #610dfd 100%);
  border-radius: 5px;
  border: 2px solid #f8f9fa;
  transition: background 0.3s ease;
  cursor: var(--cursor-seleccionables);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #0D6EFD 0%, #0d15fd 100%);
}
/*? FIN BARRA DE SCROLL PERSONALIZADA */